<a href="https://colab.research.google.com/github/dhirajwagh1612/Coursera---Capstone_Project-Data-Science-/blob/master/Support_vector_machine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("finaldata.csv")

In [ ]:
df.shape

(1421, 22)

In [ ]:
df.head()

   Unnamed: 0  meanfreq        sd  ...   dfrange   modindx   label
0           0  0.149968  0.099511  ...  0.538330  0.122000  female
1           1  0.174247  0.084022  ...  0.645996  0.213333  female
2           2  0.225435  0.025607  ...  0.473730  0.213636  female
3           3  0.224039  0.063252  ...  0.689063  0.160880  female
4           4  0.206200  0.070684  ...  0.473730  0.180070  female

[5 rows x 22 columns]

In [ ]:
df.tail()

      Unnamed: 0  meanfreq        sd  ...   dfrange   modindx  label
1416         711  0.165011  0.079768  ...  5.167969  0.035417   male
1417         712  0.160477  0.064945  ...  5.060303  0.190780   male
1418         713  0.179460  0.028725  ...  1.012061  0.376330   male
1419         714  0.196675  0.069453  ...  2.605518  0.068871   male
1420         715  0.185317  0.061642  ...  0.559863  0.087318   male

[5 rows x 22 columns]

In [ ]:
df

      Unnamed: 0  meanfreq        sd  ...   dfrange   modindx   label
0              0  0.149968  0.099511  ...  0.538330  0.122000  female
1              1  0.174247  0.084022  ...  0.645996  0.213333  female
2              2  0.225435  0.025607  ...  0.473730  0.213636  female
3              3  0.224039  0.063252  ...  0.689063  0.160880  female
4              4  0.206200  0.070684  ...  0.473730  0.180070  female
...          ...       ...       ...  ...       ...       ...     ...
1416         711  0.165011  0.079768  ...  5.167969  0.035417    male
1417         712  0.160477  0.064945  ...  5.060303  0.190780    male
1418         713  0.179460  0.028725  ...  1.012061  0.376330    male
1419         714  0.196675  0.069453  ...  2.605518  0.068871    male
1420         715  0.185317  0.061642  ...  0.559863  0.087318    male

[1421 rows x 22 columns]

In [ ]:
df = df.drop('maxdom', 1)

In [ ]:
df = df.drop('mindom', 1)

In [ ]:
df=df.drop('centroid',1)

In [ ]:
df=df.drop('dfrange',1)

In [ ]:
#df=df.drop('modindx',1)

In [ ]:
df=df.drop('meandom',1)

In [ ]:
df=df.drop('sfm',1)

In [ ]:
df.corr()

            Unnamed: 0  meanfreq        sd  ...    minfun    maxfun   modindx
Unnamed: 0    1.000000  0.020980 -0.031197  ... -0.000518 -0.000585 -0.066401
meanfreq      0.020980  1.000000 -0.559957  ...  0.128429  0.132365  0.158479
sd           -0.031197 -0.559957  1.000000  ... -0.134853  0.029582 -0.185082
median       -0.002600  0.841222 -0.211101  ...  0.097372  0.164554  0.066174
Q25           0.024698  0.871175 -0.761004  ...  0.159729  0.079703  0.194567
Q75           0.010564  0.670027  0.131469  ...  0.008417  0.173698  0.057712
IQR          -0.019122 -0.507353  0.845996  ... -0.157330  0.016748 -0.164974
skew         -0.012863 -0.447113  0.576033  ... -0.073975  0.016650 -0.333464
kurt         -0.022724 -0.471537  0.622716  ... -0.086613  0.018240 -0.324217
sp.ent       -0.064609 -0.181412  0.128282  ... -0.119374 -0.018800  0.200989
mode          0.013681  0.676211 -0.659073  ...  0.109874  0.022461  0.247925
meanfun       0.027831  0.388378 -0.252497  ...  0.465209  0.200626  0.071563
minfun       -0.000518  0.128429 -0.134853  ...  1.000000 -0.056550  0.134659
maxfun       -0.000585  0.132365  0.029582  ... -0.056550  1.000000 -0.089848
modindx      -0.066401  0.158479 -0.185082  ...  0.134659 -0.089848  1.000000

[15 rows x 15 columns]

In [ ]:
df.label = [1 if each == "female" else 0 for each in df.label ]
y = df.label.values
x_data = df.drop(["label"], axis = 1)

In [ ]:
x = (x_data -np.min(x_data))/(np.max(x_data)-np.min(x_data)).values

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 35)

In [ ]:
from sklearn.svm import SVC
svm = SVC(random_state = 10)
svm.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=10, shrinking=True, tol=0.001,
    verbose=False)

In [ ]:
print("accuracy of svm algorithm: ", svm.score(x_test,y_test))

accuracy of svm algorithm:  0.887719298245614

In [ ]:
# try using StandardScaler

In [ ]:
# importing StandardScaler

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

NameError: ignored

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=35)

NameError: ignored

In [ ]:
from sklearn.svm import SVC
from sklearn import metrics
svc=SVC()
svc.fit(X_train,y_train)
y_pred=svc.predict(X_test)
print('Accuracy Score:')
print(metrics.accuracy_score(y_test,y_pred))

NameError: ignored

In [ ]:
#rbf

In [ ]:
svc=SVC(kernel='rbf',C=1)
svc.fit(X_train,y_train)
y_pred=svc.predict(X_test)
print('Accuracy Score:')
print(metrics.accuracy_score(y_test,y_pred))

NameError: ignored

In [ ]:
#consider gamma value is 0.1

In [ ]:
from sklearn.svm import SVC
svc= SVC(kernel='rbf',gamma=0.1)
svc.fit(X_train,y_train)
y_predict=svc.predict(X_test)
metrics.accuracy_score(y_test,y_predict)

NameError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).